<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
    <script>
        alert("일치하는 아이디 정보가 없습니다.");
        location.href="/report/";
    </script>
</body>
</html>