<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/searchNav.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/includeHTML.js"></script>
<style>
p {
color:black;
}
.editor-container {
width:100%;
display:flex;
justify-content:center;
}
.editor-container > form {
width:500px;
height:1000px;
position:relative;
}


</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />

    <title>Document</title>
</head>
<body>
  <div include-html="/htmls/searchNav.html"></div>
    this is feedback page
<div class="editor-container">
    <form action="/bbs/feedback_send/"method="post">

      <textarea name="text" id="editor"></textarea>
      <input name="name" placeholder="닉네임을 입력하세요" type=="text" />
      <input name="password" placeholder="비밀번호를 입력하세요" type=="text" />
      <input type="submit" value="보내기" />
    </form>
</div>





<!-- Import jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Import Trumbowyg -->
<script src="//rawcdn.githack.com/trumbowyg/dist/plugins/resizimg/resizable-resolveconflict.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js" integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==" crossorigin="anonymous"></script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-DOJaq3OCe5hLSr73aQBMiJY4kc+L5UwessOl6g2oxyy7VDnZVWt+TgWVy2nh2ypf7bwoaxZmPnIMiRC5PNZecA==" crossorigin="anonymous"></script>
<script>

$('#editor')
.trumbowyg({
    btns: [
        ['fontsize'],
        ['strong', 'em'],
        ['justifyLeft', 'justifyCenter'],
    ],
    plugins: {
        fontsize: {
            sizeList: [
                '20px',
                '30px',
                '40px',
                '60px',
            ],
            allowCustomSize: false
        }    
	}
});
</script>
<script>
        includeHTML();
    </script>
</body>
</html>
