<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <from method="post">
        <div>
            <label>아이디</label>
            <input type="text">
            <button>아이디 검색</button>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="리폿">
      </from>
  </body>
</html>