<!-- 7번 버퍼에 저장 해둠 -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/addComment.css' />
  <link rel="stylesheet" href="/stylesheets/searchNav.css">
  <link rel="stylesheet" href="/stylesheets/navBar.css">
  <link rel="stylesheet" href="/stylesheets/fileUpload.css">
  <script src="/javascripts/includeHTML.js"></script>
  <style>
    .input-area{
      margin:20px 0;
    }
    .ui-input-container{
      background-color:#f5f6fa;
      margin-top:20px;
      padding-top:24;
    }
  </style>
</head>

<body>
  <div include-html="/htmls/searchNav.html"></div>
  <div class="ui-input-container">
    <!-- aaaaa-->

    <form method="POST" enctype="multipart/form-data" action="/report/searchId/">
      <div class="input-area">
        <input placeholder="소환사 이름" name="nickname" type="text" id="summonerID">
      </div>

      <div class="input-area" id="triangle-parent">
        <span id="triangle">&dtrif;</span>
        <select name="select" class="form-control" multiple='multiple'>
          <option value="고의적_죽음">고의적 죽음</option>
          <option value="욕설">욕설</option>
          <option value="패드립">패드립</option>
          <option value="고의_트롤">CS 뺏어먹기</option>
          <option value="픽창_악의적_닷지유도">픽창 악의적 닷지유도</option>
        </select>
      </div>

      <div class="input-area">
        <label class="ui-form-input-container">
          <textarea name="comment" class="ui-form-input" id="word-count-input"></textarea>
          <span class="form-input-label">추가 코멘트</span>
        </label>
        <p aria-live="polite"><strong><span id="word-count">0</span> words</strong> | <strong><span
              id="character-count">0</span> characters</strong>.</p>
      </div>

      <!-- 파일 업로드 -->
        <!-- <div class="captureFile input-area">
          <input type="file" name="attachment" id="attachment" multiple>
        </div> -->

        <div class="fileContainer">
          <div>
            <label id="color" for="upload">
              <input type="file" class="upload" id="upload" multiple>
            이미지 불러오기
            </label>
          </div>
          <div class="files">
            <h2>선택된 이미지</h2>
            <ul id ="fileUl"></ul>
          </div>
      <input type="submit" value="작성완료">
        </div>



    </form>
  </div> <!-- aaaaaa-->


  <!-- javascript modules!! -->
  <script src="/javascripts/wordCount.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
  <script src="/javascripts/fileUpload.js"></script>
  <script>
    // <!-- // select2 초기화 -->
    $('select').select2({
      placeholder: '리포트 유형을 골라주세요.',
    });
    includeHTML();
  </script>
</body>

</html>