<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/searchNav.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/searchPage/cardPost.css">
    <link rel="stylesheet" href="/stylesheets/searchPage/imageModal.css">
    <script src="/javascripts/includeHTML.js"></script>
    <title>Document</title>
</head>
<body>
  <div include-html="/htmls/searchNav.html"></div>
  <div class="cardParent">
    <div class="card">
    <%= data[0].닉네임 %>
     </div>
  </div>
    <% for(let i=data.length-1; i>=0 ;i--) { %>
      <% let a = data[i].Img.split(';') %>
      <% let cool = data[i] %>
      <% include ./searchInclude/cardPost %>
    <% } %>
    <script>
        includeHTML();
    </script>
    <script src="/javascripts/imageModal.js"></script>
</body>
</html>
