
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  textarea{
    resize:none;
  }
  
  .form-control {
    width:500px;
  }
  
  .select2-container .select2-search--inline .select2-search__field{
    margin-top:8px;
  }